<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/">
      <img src="http://i.imgur.com/um6EaZS.png?1" height="150">
    </a>
    <h1>Rock Rats Development Stuff</h1>
	<a type="button" class="btn btn-lg btn-default" href="eddi-scripts"><span class="glyphicon glyphicon-flash"></span>EDDI scripts</a>
	<!--<a type="button" class="btn btn-lg btn-default" href="eddb-bodies"><span class="glyphicon glyphicon-flash"></span>Reduced EDDB bodies.json</a>-->
  </div>
</div>
<div class="container">
  <div class="alert alert-info text-center" role="alert">
    This is not the rockrats website, it just acts as a means to share things (wait.. isn't that the same thing?) <-- \o/
  </div>
  <hr>
</div>

</body>
</html>
